# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UncontrollableRacer.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Michael\UnityProjects\UncontrollableRacer\.idea\.idea.UncontrollableRacer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
